.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/*
.idea
!.vscode/extensions.json
!.vscode/settings.example.json
dist
/build

requirements.*.txt

*.namespace.yaml.lock

files/*
Pipfile.lock
*.egg-info
.tox
.snakemake
.pytest_cache

studio/test_data/output
studio/notebooks
studio/config.production*

docs/_build
conda/envs/*
tensorflow-*.whl

.env*
!*.env.example

process.lock
